DATABASE_URL=
RABBITMQ_URL=
JWT_SECRET=

# example .env
DATABASE_URL="postgresql://root:password@localhost:5438/main_db?schema=public"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
JWT_SECRET="supersecretkey123"